body {
padding: 0;
margin: 0;
		background-image:
	url("http://www.planwallpaper.com/static/images/Alien_Ink_2560X1600_Abstract_Background_1.jpg");
  background-position: center top;
  background-size: cover;
}
h1 {
	font-family: 'Amatic SC', cursive;
	font-size: 70px;
	color: black;
	text-align: center;
}
.MoreInfoPage {
	padding-left: 60px;
	font-size: 20px;
	color: white;
}

.header {
	font-family: 'Sedgwick Ave', cursive;
	font-size: 30px;
	color: black;
	text-align: center;
}


.info1 {
	font-family: 'Lobster', cursive;
	font-size: 24px;
	color: black;
	padding-left: 24px;
	padding-right: 24px;
}

.info2 {
	font-family: 'Lobster', cursive;
	font-size: 20px;
	color: black;
	padding-left: 24px;
	padding-right: 24px;
}

/* unvisited link */
a:link {
    color: #B3B6B7;
}

/* visited link */
a:visited {
    color: #B3B6B7;
}

/* mouse over link */
a:hover {
    color: black;
}

/* selected link */
a:active {
    color: blue;
}
