body {
		background-image:
	url("https://images5.alphacoders.com/567/567954.jpg");
  background-position: center top;
  background-size: cover;
  min-width: 640px;
  width: 94%;
  margin:3%;
}
h1 {
	font-family: 'Amatic SC', cursive;
	font-size: 50px;
	color: black;
	text-align: center;
}
.MoreInfoPage {
	padding-left: 120px;
	font-size: 20px;
	color: white;
}

.header {
	font-family: 'Sedgwick Ave', cursive;
	font-size: 24px;
	color: black;
	text-align: center;
}

.info {
	font-family: 'Lobster', cursive;
	font-size: 24px;
	color: black;
}