body {
		background-image:
	url("https://i.imgur.com/MlA8jR1.png");
  background-position: center top;
  background-size: cover;
}
h1 {
	font-family: 'Amatic SC', cursive;
	font-size: 50px;
	color: black;
	text-align: center;
}
.MoreInfoPage {
	padding-left: 120px;
	font-size: 20px;
	color: white;
}

.header {
	font-family: 'Sedgwick Ave', cursive;
	font-size: 24px;
	color: black;
	text-align: center;
}

.info {
	font-family: 'Lobster', cursive;
	font-size: 24px;
	color: black;
	padding-left: 120px;
	padding-right: 120px;
}